<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <p>Nombre: <%= body.nombre %></p>
    <p>Correo: <%= body.correo %></p>
    <p>Edad: <%= body.edad %></p>
    <p>Mensaje: <pre><%= body.mensaje %></pre></p>
</body>
</html>