<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
  </head>
  <body>
    <h1>Registro</h1>

    <form action="/register" method="post">
      <div>
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">Registro</button>
    </form>
  </body>
</html>
