<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <div class="container">
      <h1>Listado de Artículos</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Imagen</th>
            <th scope="col">Contenido</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="/posts/1">Articulo 1</a></td>
            <td>Foto 1</td>
            <td>Contenido 1 ...</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
<%- include('../partials/footer') %>
