<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <div class="container">
      <h1>Titulo</h1>
      <img src="https://picsum.photos/200/100" alt="Lorem Picsum">
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
<%- include('../partials/footer') %>
