<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="https://google.com">Google</a></li>
  </ul>
</nav>
